$font-style: 'Lato', sans-serif;
//$font-style: 'Source Sans Pro', sans-serif;
//$heading-font: 'Lato', sans-serif;
//$heading-font: 'Roboto Slab', serif;
$heading-font: 'Lora', serif;
//$mono-font: 'Inconsolata', monospace;
//$mono-font: 'Roboto Mono', monospace;
$mono-font: Consolas, "Liberation Mono", Menlo,Courier,monospace;
$link-color: #425469;
$link-hover-color: #CAC0F0;
$light: #E7EDF4;
$side-background: #37353D;
$nav-background: #48454E;
$main-background: #fbfdff;
$body-background: #dfe1e3;
$main-font-color: #262626;
$side-font-color: #EFF0F4;
$subitem-font-color: #7b7374;
$active-page-color: #605C69;
$entry-heading-color: #eee7f9;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
