$font-style: 'Lato', sans-serif;
//$font-style: 'Source Sans Pro', sans-serif;
//$heading-font: 'Lato', sans-serif;
$heading-font: 'Roboto Slab', serif;
//$heading-font: 'Merriweather', serif;
//$heading-font: 'Lora', serif;
//$mono-font: 'Inconsolata', monospace;
$mono-font: 'Roboto Mono', monospace;
//$mono-font: Consolas, "Liberation Mono", Menlo,Courier,monospace;
$link-color: #425469;
$link-hover-color: #CAC0F0;
$light: #E7EDF4;
$side-background: #37353D;
$nav-background: #48454E;
$main-background: #fcfcfc;
$body-background: #fcfcfc;
$main-font-color: #494949;
$side-font-color: #EFF0F4;
$subitem-font-color: #7b7374;
$active-page-color: #605C69;
$main-heading-color: #404040;
$main-heading-ruler-color: #4b4853;
$nav-delimiter-color: #96929c;
$nav-delimiter-color-no-page: #96929c;
$code-background-color: #f5f5f6;
$code-border-color: #d3dbe6;

$orange-highlight-color: #b26c42;
$orange-background-color: #dbaca0;
$blue-highlight-color: #5074b2;
$blue-background-color: #d3dbe6;

// general purpose colors
$dark: #5d5d5d;
$darker: #383838;
$darkest: #1a1a1a;
$light: #E7EDF4;
$lighter: #f5f5f6;
$lightest: #fafafb;
$orange-dark: #b24e1a;
$orange: #cb8c3c;
$orange-light: #dbaca0;
$orange-lighter: #f8eddf;
$orange-lightest: #fff9f4;
$blue-darker: #2a3a64;
$blue-dark: #2a478f;
$blue: #5b77b8;
$blue-light: #a4aecb;
$blue-lighter: #d3dbe6;
$green-dark: #16542f;
$green: #529a82;
$green-light: #d3ecd0;
$green-lighter: #ebf7e8;
$green-lightest: #f6fcf3;


// min-widths at which layout transitions to accomodate different viewport widths
$transition-to-side: 48em;
$transition-to-large: 61em;

// html and body
html {
  font-family: $font-style;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  overflow: scroll;
}

@media (min-width: $transition-to-side) {
  html {
    font-size: 14px;
    overflow: hidden;
  }
}

@media (min-width: $transition-to-large) {
  html {
    font-size: 16px;
  }
}

body {
  color: $main-font-color;
  background-color: $body-background;
  margin: 0;
}


// links
a, a:visited {
  color: $link-color;
  font-weight: normal;
  text-decoration: underline;
}

a:hover, a:focus {
  color: $link-hover-color;
}

input {
  font-family: $font-style;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

