$font-style: 'Source Sans Pro', sans-serif;
//$heading-font: 'Lato', sans-serif;
//$heading-font: 'Roboto Slab', serif;
$heading-font: 'Lora', serif;
$link-color: #425469;
$main: #19CCAA;
$link-hover-color: $main;
$light: #E7EDF4;
$side-background:  #1D1425;
$main-font-color: #262626;
$side-font-color: #262626;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
