// html and body
html {
	font-family: $font-style;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

body {
	color: $main-font-color;
}

// headings
h1, h2, h3, h4, h5 {
	font-weight: bold;
	color: $main-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}

h1 {
	font-size: 2rem;
	a, a:visited {
		text-decoration: none;
	}
}

h2 {
	margin-top: 1rem;
	font-size: 1.5rem;
}

h3, h4, h5 {
	margin-top: 0.5rem;
	font-size: 1.2rem;
}

// links
a, a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}

a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}

// side bar
.side {
	padding: 2rem 1rem;
	background-color: $side-background;
	color: $side-font-color;
	text-align: center;
}

@media (min-width: 48em) {
  .side {
    position: fixed; // this keeps side and main "side to side"
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

// main window
.main {
	max-width: 38rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

@media (min-width: 48em) {
  .main {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .main {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

.footer {
	text-align: center;
	padding: 40px;
}
