.main-container {
  background-color: $body-background;
  line-height: 1.5;
  table {
    margin: auto;
  }
  position: relative; // for perfect-scrollbar
}

@media (min-width: $transition-to-side) {
  .main-container {
    height: 100vh; // restrict the height to viewport such that perfect-scrollbar is used instead of native scrollbar
  }
}

// main div floating inside main-container with auto margins left and right
.main {
  max-width: 38rem;
  padding: 2rem 4rem 2rem 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: $main-background;
  line-height: 1.5;
  table {
    margin: auto;
  }
}

@media (min-width: $transition-to-side) {
  .main {
    max-width: 50rem;
  }
}

// when the page is a notebook, make it wider to contain the input prompts

.notebook {
  max-width: 40rem;
}

@media (min-width: $transition-to-side) {
  .notebook {
    max-width: 60rem;
  }
}

@media (min-width: $transition-to-large) {
  .notebook {
    max-width: 60rem;
  }
}

// headings
.main h1, .main h2, .main h3, .main h4, .main h5 {
  font-weight: bold;
  color: $main-heading-color;
  font-family: $heading-font;
  line-height: 1.5;
}

.main h1 {
  font-size: 2rem;
  font-weight: normal;
  border-bottom: $main-heading-ruler-color solid 2px;
}

.main h2 {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  margin-top: 0.5rem;
}

.main h3 {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 0.7rem;
  margin-top: 0;
}

.main h4, .main h5 {
  font-size: 1.0rem;
  line-height: 1.2;
  margin-top: 0;
}

.docpage-heading {
}

// main window for referance manual iframe
.clip-to-side {
  max-width: 100%;
  height: 100%;
  padding: 0;
}

@media (min-width: $transition-to-side) {
  .clip-to-side {
    margin-left: 18rem;
    margin-right: 0;
  }
}

@media (min-width: 64em) {
  .clip-to-side {
    margin-left: 19rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

// iframe containing reference manual
iframe {
  width: 100%;
  height: 50vh;
  padding: 0.5rem;
}

@media (min-width: $transition-to-side) {
  iframe {
    // fix height to 90 % of the viewport height because
    // "position: absolute" is incompatible with the current structure of the site
    height: 90vh;
  }
}

.centered {
  text-align: center;
}

.main tr:nth-child(even) {
  background-color: #f3f3f3
}

.main tr:nth-child(odd) {
  background-color: #f8f8f8
}

.main th, .main td {
  padding: 0.5rem;
}

.main th {
  background-color: #d3dbe6;
  color: $main-font-color;
  font-weight: normal;
}

.foot {
  color: $main-heading-ruler-color;
  padding-top: 1rem;
  border-top: $main-heading-ruler-color solid 2px;
  text-align: center;
  margin-top: 1rem;
}

.foot a, .foot a:visited {
  color: $main-heading-ruler-color;
  text-decoration: none;
}

.foot a:hover, .foot a:focus {
  color: $link-hover-color;
}

