.side-wrapper {
  background-color: $side-background;
}

@media (min-width: $transition-to-side) {
  .side-wrapper {
    position: relative; // required for perfect-scrollbar
    width: 18rem;
    float: left; // to have main and side next to each other
  }
}

// actual sidebar
.side {
  padding: 2rem 0rem;
  color: $side-font-color;
}

@media (min-width: $transition-to-large) {
  .side {
    font-size: 15px;
  }
}

.side a, .side a:visited {
  color: $side-font-color;
  text-decoration: none;
}

.side a:hover, .side a:focus {
  color: $link-hover-color;
}

@media (min-width: $transition-to-side) {
  .side {
    height: 100vh;
  }
}

.side-searchbar-wrapper {
  width: 15rem;
  background-color: #f1f0f7;
  text-align: left;
  margin-top: 1rem;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.side-searchbar-wrapper input#search-box {
  width: 100%;
  border: none;
  background-color: #f1f0f7;
  font-size: smaller;
}

.side-searchbar-wrapper input[type="text"] {
  outline: none;
  background-color: #f1f0f7;
}

.side-nav {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: left;
  background-color: $nav-background;
}

.side-nav a, .side-nav a:visited {
  font-weight: normal;
  color: $side-font-color;
}

.side-nav a:hover, .side-nav a:focus {
  color: $link-hover-color;
}

a.side-nav-item {
  color: $side-font-color;
  display: block;
  line-height: 1.5;
  padding: 0.3rem;
  padding-left: 1.3rem;
}

a.side-nav-sub-item {
  color: $side-font-color;
  background-color: $active-page-color;
  display: block;
  font-size: small;
  line-height: 1.3;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.4rem;
  padding-top: 0rem;
}

a.side-nav-sub-sub-item {
  padding-left: 3rem;
}

.side-nav-item.active {
  background-color: $active-page-color;
}

.nav-supergroup-delimiter {
  font-family: $heading-font;
  color: $nav-delimiter-color;
  padding-left: 0.9rem;
  padding-right: 0;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

// generic side logo
@media (min-width: $transition-to-side) {
  .side-logo {
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
    position: relative; // for clickability
  }
  .side-logo a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; // Makes sure the link doesn't get underlined
    z-index: 10; // raises anchor tag above everything else in div
    background-color: white; // workaround to make clickable in IE
    opacity: 0; // workaround to make clickable in IE
    filter: alpha(opacity=1); // workaround to make clickable in IE
  }
}

// specific logos, namely cmb, readdy and github
@media (min-width: $transition-to-side) {
  .logo-cmb {
    margin-top: 2rem;
    background-image: url($baseurl + "/assets/cmb_white_100px.png");
    height: 79px;
  }
}

@media (min-width: $transition-to-large) {
  .logo-cmb {
    background-image: url($baseurl + "/assets/cmb_white_120px.png");
    height: 95px;
  }
}

@media (min-width: $transition-to-side) {
  .logo-readdy {
    background-image: url($baseurl + "/assets/readdy_white_150px.png");
    height: 42px;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: $transition-to-large) {
  .logo-readdy {
    background-image: url($baseurl + "/assets/readdy_white_180px.png");
    height: 50px;
    margin-bottom: 1.5rem;
  }
}

.github-wrapper {
  width: 16rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 3.2rem;
  overflow: hidden;
  background-color: $nav-background;
  position: relative; // for clickability
}

.logo-github {
  width: 32px;
  background-image: url($baseurl + "/assets/GitHub-Mark-Light-32px.png");
  height: 32px;
  margin: 0.5rem;
  margin-left: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

.github-text {
  float: left;
  margin-top: 0.9rem;
  padding-left: 2rem;
  padding-right: 1rem;
}