# ruby bundler schmutz
*.lock

# jekyll build schmutz
*.sass-cache
*.jekyll-metadata

# jetbrains
*.idea

# sublime
*.sublime-project
*.sublime-workspace

# jekyll output, in case of an in-source build
*_site

# notebook schmutz
*.ipynb_checkpoints

build/